---
- name: Make sysctl.d directory
  file:
    path: /etc/sysctl.d
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Apply sysctl settings
  template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.d/90-sotun.conf
  changed_when: true
  notify:
    - Reload sysctl
