---
sshd_config:
  Port: "{{ ansible_port }}"
  ListenAddress: "0.0.0.0"
  PermitRootLogin: "without-password"
  PasswordAuthentication: "no"
  PermitEmptyPasswords: "no"
  KbdInteractiveAuthentication: "no"
  UsePAM: "yes"
  TCPKeepAlive: "no"
  ClientAliveInterval: 3
  ClientAliveCountMax: 2
  LoginGraceTime: 10
  MaxAuthTries: 2
  MaxSessions: 100
  KexAlgorithms: "curve25519-sha256"
  Ciphers: "chacha20-poly1305@openssh.com"
  MACs: "hmac-sha2-256-etm@openssh.com"
  AllowTcpForwarding: "yes"
  AllowAgentForwarding: "no"
  AllowStreamLocalForwarding: "no"
  GatewayPorts: "yes"
  PermitOpen: "any"
  PermitTunnel: "yes"
  X11Forwarding: "no"
  LogLevel: "ERROR"
  UseDNS: "no"
  PrintLastLog: "no"
  Compression: "yes"
  PrintMotd: "no"
  MaxStartups: "100:30:200"
  IPQoS: "cs0 cs0"
