[Unit]
Description=Reverse SSH Tunnel on port %i
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=20
StartLimitBurst=10

[Service]
CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no
CPUQuota=
MemoryMax=
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
LimitMEMLOCK=infinity
OOMScoreAdjust=-1000
ExecStart=/usr/bin/ssh -N -T -R %i:127.0.0.1:%i {{ tunnel_user }}
{% if alerting.enabled %}
ExecStartPre=systemd-run --quiet --no-block /opt/sotun-alert.sh "🔄 Tunnel on %i is connecting..."
ExecStartPost=systemd-run --quiet --no-block /opt/sotun-alert.sh "✅ Tunnel on %i is UP"
ExecStopPost=systemd-run --quiet --no-block /opt/sotun-alert.sh "❌ Tunnel on %i is DOWN"
{% endif %}
Restart=always
RestartSec=0.5
TimeoutStartSec=3

[Install]
WantedBy=multi-user.target
