[Unit]
Description=Reverse SSH Tunnel on port %i
After=network-online.target
Wants=network-online.target

[Service]
CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no
CPUQuota=
MemoryMax=
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
LimitMEMLOCK=infinity
OOMScoreAdjust=-1000
ExecStart=/usr/bin/ssh -N -T -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ServerAliveInterval={{ ssh_config. ServerAliveInterval }} -o ServerAliveCountMax={{ ssh_config.ServerAliveCountMax }} -o ExitOnForwardFailure=yes -i {{ ssh_config.IdentityFile }} -R %i:127.0.0.1:%i {{ reverse_tunnel_user }}@{{ reverse_tunnel_target_host }} -p {{ reverse_tunnel_target_port }}
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
