[Unit]
Description=SSH Tunnel {{ tun.name }}
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=20
StartLimitBurst=10

[Service]
User={{ tunnel_user }}
CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no
CPUQuota=
MemoryMax=
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
LimitMEMLOCK=infinity
OOMScoreAdjust=-1000
ExecStart=/usr/bin/ssh -N -T -{{ tun.mode }} {{ tun.local_host }}:{{ tun.local_port }}:{{ tun.remote_host }}:{{ tun.remote_port }} {{ tun.name }}
{% if alerting.enabled %}
ExecStartPre=systemd-run --quiet --no-block /opt/sotun-alert.sh "🔄 Tunnel {{ tun.name }} is connecting..."
ExecStartPost=systemd-run --quiet --no-block /opt/sotun-alert.sh "✅ Tunnel {{ tun.name }} is UP"
ExecStopPost=systemd-run --quiet --no-block /opt/sotun-alert.sh "❌ Tunnel {{ tun.name }} is DOWN"
{% endif %}
Restart=always
RestartSec=0.5
TimeoutStartSec=3

[Install]
WantedBy=multi-user.target
