# {{ ansible_managed }}

* soft nofile 1048576
* hard nofile 1048576
* soft nproc 1048576
* hard nproc 1048576
* soft core unlimited
* hard core unlimited
* soft memlock unlimited
* hard memlock unlimited
